@import '@/styles/variables';

.search {
  position: relative;
  padding: 0 10px;
  input {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: $main-bg-inputs;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    outline: none;
    &:focus + img {
      display: none
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translateX(-50%) translateY(-48%);
  }
}