<form class="bottom-dialog">
  <button class="bottom-dialog__file" type="button">
    <img src={{addFileSvg}} alt="Добавить файл">
  </button>
  <input type="text" name="message" placeholder="Сообщение" class="bottom-dialog__int">
  <button class="bottom-dialog__send" type="submit">
    <img src={{arrowGo}} alt="Отправить сообщение">
  </button>
</form>
