@import '@/styles';

.bottom-dialog {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 0;
  border-top: 1px solid $main-border-color;
  &__int {
    flex: 1;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: $main-bg-inputs;
    font-size: 13px;
    &::placeholder {
      color: $label-color;
    }
  }
  &__send, &__file {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__send {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-orange;
  }
}
