{{!-- TODO: think how to use with login template in sprint 2 --}}
<form class="main-content">
  <div class="main-content__title">
    {{{ title }}}
  </div>
  <div class="main-content__fields">
    {{{ fields }}}
  </div>
  <div class="main-content__bottom">
    {{{ actionButton }}}
    {{{ actionHelp }}}
  </div>
</form>