@import "../../styles/variables";

.add-chat {
	background: $main-orange;
	color: $main-white;
	display: block;
	width: 100%;
	padding: 7px 0;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
	&:hover {
		opacity: 0.85;
	}
}
