@import '@/styles/variables';

.action-btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
  color: $main-orange;
  &-wrapper {
    border-bottom: 1px solid $main-border-color;
  }
  &--red {
    color: red;
  }
}