<div class="template-page">
  <div class="template-page__info">
    {{{ content }}}
  </div>
  <div class="template-page__backs">
    <a href="/">
      <img src={{ imgSrc }} alt="Назад">
    </a>
  </div>
</div>