@import '@/styles/variables';

.to-profile {
  text-decoration: none;
  color: $label-color;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: right;
  &-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }

  img {
    margin-left: 8px;
  }
}
