@import "@/styles/variables";

.error-template {
	min-height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&__img {
		position: absolute;
		bottom: 0;
		right: 20px;

		@media (max-width: 1000px) {
			display: none;
		}
	}
}

.error-content {
	text-align: center;
	&__type {
		font-size: 40px;
		margin: 0;
		margin-bottom: 20px;
	}
	&__text {
		font-size: 20px;
		margin-bottom: 70px;
	}
	&__back {
		color: $main-orange;
		font-size: 11px;
		text-decoration: none;
	}
}
