@import '../../styles/variables';

.button {
  display: block;
  width: 100%;
  max-width: 280px;
  padding: 12px 0;
  background-color: $main-orange;
  color: $main-white;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  
  transition: all 0.15s linear;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken($main-orange, 10);
  }

  &:active {
    background: darken($main-orange, 15);
  }

  &-center {
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    font-size: 14px;

  }
}
