.about {
  text-align: center;
  &-btn {
    margin-bottom: 21px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    img {
      display: block;
    }
  }
  &-name {
    font-weight: 600;
  }
}
