<aside class="aside">
  <div class="aside-profile">
    {{{ profile }}}
  </div>
  <div class="aside-search">
    {{{ search }}}
  </div>
  <div class="aside-chat">
    {{{ chat }}}
  </div>
</aside>
