@import '@/styles/variables';

.dialog-chat {
  margin-top: 48px;
  flex: 1;
  overflow: auto;
  &__date {
    color: $label-color;
    font-size: 12px;
    text-align: center;
    margin-bottom: 38px;
  }
  &__msg {
    margin-bottom: 20px;
  }
}
