<form class="login-content">
  <div class="login-content__title">
    {{{ title }}}
  </div>
  <div class="login-content__fields">
    {{{ fields }}}
  </div>
  <div class="login-content__bottom">
    {{{ actionButton }}}
    {{{ actionHelp }}}
  </div>
</form>